@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
nav{
    width: auto;
    height: fit-content;
    padding: 7px 100px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}
select{
    margin-top: 3px !important;
  }
.nav_links{
    text-decoration: none;
    color: black;
    margin : 0.5em;
    font-size:medium;
    font-weight: 600;

}
.nav_links:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.25s ease-out;
}

#logo{
    width: 150px;
    height: 70px;
}

.sidenav{
    width: auto;
    height: fit-content;
}

.sidenav button{
    padding: 6px 25px;
    margin: 4px 10px 0;
    cursor: pointer;
    color: black;
    font-weight: bold;
    border: 1px solid #ed0000;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: transparent;
}

/* #logout, .sidenav button:nth-of-type(1){
    color: aqua;
    border: none;
} */

.sidenav button:nth-of-type(0):hover{
    background-color: #ea000017;
}

.clr_chng{transition: color 1s;}
.clr_chng:hover{
    color: #000000;
    text-shadow: 2px 2px 5px #ff003c;
    /* text-shadow: rgba(7, 7, 242, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
}

.auth_menu{
    text-align: center;
    background-color: white;
}

.auth_menu section{
    padding: 5px 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.auth_menu .item{
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    color: #525252;
}

.auth_menu .item:hover{
    color: #c6414c;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
  }

  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0c0c0c;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .navbar-wrapper{
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

